# Ignora archivos de Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignora archivos de Packer
packer/manifest.json

# Ignora claves privadas de AWS
*.pem

# Ignora archivos de configuración local (si los tienes)
*.env
*.secret

# Ignora archivos de IDE (si usas un editor como VS Code)
.vscode/
.idea/

# Ignora archivos de sistema operativo
.DS_Store
Thumbs.db